/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);  
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  min-height: 667px;
}

.card-holder{
  float: left;
  height: 50%;
  margin-top:250px;
  font-family: 'Outfit', sans-serif;
  width: auto;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  width: 320px;
  height: 500px;
}

.container {
  width: 320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr-code img{
  height: 320px;
  padding: 15px;
  border-radius: 1.75rem;
}

.cardText {
  margin-bottom: auto;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.cardText h2{
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 20px;
}

.cardText p{
  font-weight: 400;
  color: hsl(220, 15%, 55%)
}


/* Your custom styles */
/* Add your CSS rules here 

  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
  */
